[submodule "root/termux-root-packages"]
	path = root/termux-root-packages
	url = https://github.com/termux/termux-root-packages
[submodule "games/game-packages"]
	path = games/game-packages
	url = https://github.com/termux/game-packages
[submodule "unstable/unstable-packages"]
	path = unstable/unstable-packages
	url = https://github.com/termux/unstable-packages
[submodule "x11/x11-packages"]
	path = x11/x11-packages
	url = https://github.com/termux/x11-packages
