# Python
__pycache__

# CMake build directory
/build*

# Downloaded content
/Contents*

# Generated header files
/commands-*.h

## Editor/IDE/Code Lens
# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
# VS Code
/.vscode
# ccls
/.ccls-cache
# Other
/compile_commands.json
