[submodule "root/termux-root-packages"]
	path = root/termux-root-packages
	url = https://github.com/termux/termux-root-packages
[submodule "games/game-packages"]
	path = games/game-packages
	url = https://github.com/termux/game-packages
